<div class="container">
  <h1 class="text-center mt-4"><%= @restaurant.name %></h1>
  <%= link_to 'Back to list', restaurants_path, class: 'btn btn-danger back-link' %>
  <p>Find me at <%= @restaurant.address %></p>
  <% @restaurant.reviews.each do |review| %>
    <div class="review-card">
      <% review.rating.times do %><%= '⭐️' %><% end %>
      <%= review.content %>
    </div>
  <% end %>
  <h1>New Review</h1>
  <%= simple_form_for [@restaurant, @review] do |f|%>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>

